/* #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    /* background: #eee; */
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
    /* font-size: 14px; */
    /* color: #000; */
    /* margin: 0;
    padding: 0; */
  /* } 
  
  .swiper {
    width: 50%;
    /* height: 100%; 
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
   
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */

   .star-icon{
    color: goldenrod;
}

.review-section{
  /* background-color: #dddddd; */
  padding: 50px;
  margin-bottom: 150px;
}

.review-section h2{
  color:rgb(255, 255, 255);

}
.review-container{
  background-color: rgb(14 73 223);
  padding: 45px 25px;
  border-radius: 30px;
  height: 300px;
  text-align: center;
  color:#c5c5c5;
}

